table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

code {
  color: rgb(0, 0, 0);
  padding: 1px 4px 2px 4px;
  font-size: 11px;
  /* text-shadow: 3px 2px 1px black; */
}

pre {
  background: rgba(176, 176, 176, 0.7);
  padding: 5px 0 5px 5px;
}

blockquote {
  border-left: 3px solid black;
  color: black;
  padding-left: 5px;
  margin-left: 25px;
}


/* pre {
  border: 1px solid #ccc;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
} */
